# macOS basura
.DS_Store
.AppleDouble
.LSOverride

# Iconos de carpetas
Icon?
._*

# Spotlight
.Spotlight-V100
.Trashes

# Archivos de sistema
ehthumbs.db
Thumbs.db

# Logs generales
*.log

# Archivos de backup
*~

# Caches de compilación
build/
out/
output/

# Archivos de Make
*.o
*.ko
*.mod
*.mod.c
*.cmd
.tmp_versions/
Module.symvers
modules.order

*.swp
*.swo
*.swn
*.bak
*.tmp


sysdrv/tools/board/android-tools/android-tools

.env
*.env

# Docker (por si acaso)
*.pid
docker-compose.override.yml

sysdrv/board_uclibc_
objs_kernel/
sysdrv/source/buildroot/
sysdrv/tools/board/dosfstools/dosfstools-4.2
/IMAGE/
.BoardConfig.mk
